.card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }
  
  .card-amp {
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 750px;
    width: 100%;
  }
  
  /* Teks Undangan */
  .text-undangan {
    margin-bottom: 1.5rem;
  }
  
  .deskripsi {
    font-size: 1rem;
    color: #555;
  }
  
  .kami-yang-berbahagia {
    font-weight: bold;
    margin-top: 0.5rem;
  }
  
  /* Foto Pasangan */
  .foto-pasangan {
    margin-bottom: 1rem;
  }
  
  .pasangan-img {
    border-radius: 50%;
    border: 3px solid;
  }
  
  /* Nama pasangan */
  .nama-pasangan {
    font-size: 1.5rem;
    font-weight: bold;
    /* color: #d4af37; */
    margin-top: -10px;
    text-transform: capitalize;
  }
  
  /* Keluarga Container */
  .keluarga-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1.5rem;
  }
  
  .keluarga {
    background: #f8f8f8;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    width: 45%;
    min-width: 200px;
  }
  
  .keluarga h3 {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
  }
  
  .keluarga p {
    font-size: 0.9rem;
    color: gray;
  }
  
  /* Tombol Kirim Hadiah */
  .btn-container {
    margin-top: 1.5rem;
  }
  
  .btn-kirim {
    background: #1f1f38;
    color: white;
    border: none;
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btn-kirim:hover {
    background: white;
    color: black;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .keluarga-container {
      flex-direction: column;
      align-items: center;
      gap: 1rem;
    }
  
    .keluarga {
      width: 100%;
    }
  
    .btn-kirim {
      width: 100%;
    }
  }
  